.wrapper {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 15px;
}

.content {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 400;
    font-size: 16px;
}

.subContent {
    margin-right: 60px;
    max-width: 250px;
    word-break: break-all;
}

.header {
    font-weight: 500;
    font-size: 20px;
}

.subHeader {
    font-weight: 500;
    font-size: 17px;
}

.longText {
    white-space: pre-wrap;
}