.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;

    height: 50px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #272A2F;

    box-shadow: inset 0px -1px 0px #F0F0F0;
}

.currUser {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    font-family: var(--default-font-family);
}